@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Giriş Yap";

}


<div class="login-card">
    <form class="theme-form login-form" asp-controller="Login" asp-action="LoginProcedures" method="post">
        <h4>Giriş Sayfası</h4>
        <h6>Hoşgeldiniz! Hesabınıza giriş yapın.</h6>
        <div class="form-group">
            <label>Mail Adresi</label>
            <div class="input-group">
                <span class="input-group-text"><i class="icon-email"></i></span>
                <input class="form-control" type="email" name="Email" required="" placeholder="Test@gmail.com">
            </div>
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <div class="input-group">
                <span class="input-group-text"><i class="icon-lock"></i></span>
                <input class="form-control" type="password" name="Password" required="" placeholder="*********">
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Şifremi Hatırla</label>

            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Giriş Yap</button>
            </div>

    </form>
</div>





