@model OfferApp.Models.Offer




@section Scripts {
    <script src="/AppJs/offer.js"></script>

}


<div class="card">
    <div class="card-header pb-0">
       
        <input id="CreateDate" type="hidden" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        <input id="OfferSeri" type="hidden" value="ABC">
        <input id="OfferSira" type="hidden" value="">
        <input id="BtnSecim" type="hidden" value="0">
        <input id="CreateUser" type="hidden" value="@User.Identity.Name">

        <div class="row">
            <div class="col-md-4">
                <h5 id="serisira"></h5>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 d-flex justify-content-end">
            </div>
        </div>
    </div>
    <div class="card-header pb-0 text-right">
        <div class="mb-2">
            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label">Müşteri</label>
                    <select id="customerSelect" class="js-example-placeholder-multiple col-sm-12">
                        <option value="">Seçiniz..</option>
                    </select>
                </div>
        
            </div>
        </div>
        <div class="mb-2">
            <div class="row">
                <div class="col-md-3">
                    <label class="col-form-label text-end pt-0">Teklif Tarihi</label>
                    <div class="form-row">
                        <div class="col-md-12 mb-2">
                            <input id="OfferDate" class="datepicker-here form-control digits" type="datetime" data-language="tr">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-form-label text-end pt-0">Teslim Tarihi</label>
                    <div class="input-group">
                        <input id="DeliveryDate" class="datepicker-here form-control digits" type="datetime" data-language="tr">
                    </div>
                </div>
                <div id="customerInformation" class="col-md-6">
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="mb-4 ui-draggable-handle" style="position: static;">
                    <label for="formcontrol-select1">Ürün Seç</label>
                    <select id="productSelect" @* class="js-example-placeholder-multiple col-sm-12" *@ class="form-control btn-square">
                        <option value="">Seçiniz..</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <label>Birim Fiyat</label> <input id="stockPrice" readonly class="form-control digits" disabled="disabled" type="number">
            </div>
            <div class="col-md-2">
                <label>Adet</label>
                <input id="quantity" class="form-control digits" type="number">
            </div>
            <div class="col-md-2">
                <label>Tutar</label><input id="total" class="form-control digits" disabled="disabled" type="number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2" id="btnArea">
            </div>       
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ürün Kodu</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Toplam</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="OfferRowTable">
                </tbody>
            </table>
        </div>
    </div>
</div>









