@{
    ViewData["Title"] = "Teklifler";

}
@section Scripts {
    <script src="/AppJs/offer.js"></script>
}
<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Teklifler</h5>
                </div>
                <div class="card-header pb-0 text-right">
                    <a class="btn btn-primary" id="btnOpenModal" data-url="/Offer/CreateOffer" data-zindex="1"><span>Teklif Oluştur</span></a>
                </div>
                <div class="card-body pb-0 text-right">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Müşteri</th>
                                <th>Teklif Seri-No</th>
                                <th>Teklif Tarihi</th>
                                <th>Teslim Tarihi</th>
                                <th>Toplam Tutar</th>                              
                                <th></th>

                            </tr>
                        </thead>
                        <tbody id="OfferTable">
                   
                        </tbody>
                    </table>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalCreateOffer" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
</div>

