.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .chat-button:hover {
        background-color: #005f6b;
    }

.chatcontent {
    height: 2000px; 
    padding: 20px;
}


.chatcss {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000;
    background-color: white; 
    border-radius: 5px;
    padding: 20px; 
 
}

.chatlist {
    height: 250px;
}


.user-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

    .user-item:hover {
        background-color: #f1f1f1;
    }

    .user-item.selected {
        background-color: #007bff;
        color: white;
    }
