


<div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">Müşteri Yükle</h4>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <input id="CreateDate" type="hidden" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        <input id="CreateUser" type="hidden" value="@User.Identity.Name">
        <div class="modal-body">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <input id="excelFile" type="file" name="dosya" />
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-2">
                        <button id="upload" class="btn btn-primary" type="submit">Yükle</button>
                    </div>
                </div>


            </div>

            <table class="table table-hover" border="1">
                <thead>
                    <tr>
                        <th>Kodu</th>
                        <th>Unvanı</th>
                        <th>VkNo</th>
                        <th>Email</th>
                        <th>Ükle</th>
                        <th>Adresi</th>

                    </tr>
                <tbody id="excelData">
                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>


